{% extends "layout.html" %}

{% block body %}
<form method="POST">
    <table>
        <tr>
            <td>{{ form.subject.label }}</td>
            <td>{{ form.subject }}</td>
            <td>
                <ul>
                    {% for error in form.subject.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.body.label }}</td>
            <td>{{ form.body }}</td>
            <td>
                <ul>
                    {% for error in form.body.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save changes"/>
            </td>
        </tr>
</form>
{% endblock %}