{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('message_edit', message_id=m.id) }}">
    <table>
        <tr>
            <td>{{ form.subject.label }}</td>
            <td>{{ form.subject }}</td>
            <td>
                <ul>
                    {% for error in form.subject.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.body.label }}</td>
            <td>{{ form.body }}</td>
            <td>
                <ul>
                    {% for error in form.body.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.categories.label }}</td>
        </tr>
        <tr>
            <td>
                <ul>
                    {{ form.categories }}
                </ul>
            </td>
            <td>
            <ul>
                {% for error in form.categories.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="btn btn-primary" role="button"
                       type="submit" value="Save changes"/>
            </td>
        </tr>
</form>
{% endblock %}