{% extends "layout.html" %}

{% block body %}

<body>
<div class="card">
    <div class="card-header bg-dark text-white"><h4>{{ m.subject }}</h4></div>
    <div class="card-body">{{ m.body }}</div>
    <div class="card-footer">

        <p style="display:inline"><small><b>Categories:</b></small></p>
        {% for m in m.categories %}
        <small><td>{{ m.name }},</td></small>
        {% endfor %}

        {% if m.read %}
        <p><small><b>Status</b> Read</small></p>
        {% else %}
        <p><small><b>Status</b> Not read</small></p>
        {% endif %}
    </div>
</div>
</body>

<table>
    <td>
        <form method="POST" action="{{ url_for('message_delete', message_id=m.id) }}">
            <input class="btn btn-primary" role="button" type="submit" value="Delete"/>
        </form>
    </td>
    <td>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('message_edit_form', message_id=m.id) }}">Edit</a>
    </td>
    <td>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('messages_index') }}">Go back</a>
    </td>
</table>
{% endblock %}