{% extends "layout.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
{% endwith %}

<table>
    <td>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('categories_form') }} ">Add a new category</a>
    </td>
</table>
<p><br></p>

{% if cs is defined %}

<div class="container">
    <h2>Categories</h2>
    <p>The available categories at the moment.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for c in cs %}
        <tr>
            <td><a href="{{ url_for('category_look', category_id=c.id) }}">{{ c.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}