{% extends "layout.html" %}

{% block body %}

<body>
<div class="card">
    <div class="card-header bg-dark text-white"><h4>{{ c.name }}</h4></div>
    <div class="card-body">{{ c.description }}</div>
</div>
</body>

<table>
    <td>
        <form method="POST" action="{{ url_for('category_delete', category_id=c.id) }}">
            <input class="btn btn-primary" role="button" type="submit" value="Delete"/>
        </form>
    </td>
    <td>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('category_edit_form', category_id=c.id) }} ">Edit</a>
    </td>
    <td>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('categories_index') }}">Go back</a>
    </td>
</table>

{% endblock %}