{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th>Category</th>
        <td>{{c.name}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ c.description }}</td>
    </tr>
</table>
<table>
    <td>
        <form method="POST" action="{{ url_for('category_delete', category_id=c.id) }}">
            <input class="btn btn-primary" role="button" type="submit" value="Delete"/>
        </form>
    </td>
    <td>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('category_edit_form', category_id=c.id) }} ">Edit</a>
    </td>
    <td>
        <a class="btn btn-primary" role="button"
           href="{{ url_for('categories_index') }}">Go back</a>
    </td>
</table>

{% endblock %}